<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy; All Rights Reserved.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
